<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>News Sentiment Analysis</title>
    </head>

    <body>
        <div id="page-container">
        <header>
            <h1>Evaluate News for Subjectivity and Polarity</h1>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input class="user-input" id="url" type="text" name="input" value="" placeholder="Enter URL here to discover sentiment">
                    <input class="button" type="submit" name="" value="Analyze" onclick="return Client.handleSubmit(event)" onsubmit="return handleSubmit(event)">
                </form>
            </section>

            <section class="midsection" id="results">
                <em>Postcard:</em>

                <div class="photo">
                    <img src="https://picsum.photos/seed/picsum/300/300" alt="pixabay image" id="image">
                </div>
                <div id="travel-info">
                    <!--Updated-->
                    <h2 id="location">City, Country</h2>
                    <h2 id="temp">Currently feels like Temp</h2>
                    <h2 id="weatherIcon">ICON</h2>
                    <h2 id="weather-description"></h2>
                    <h2 id="intro">Get ready, you'll be here in X days!</h2>
                    <h2 id="language">Brush up on your Language</h2>
                    <h2 id="currency">Make sure to bring your Currency</h2>
                    <h2 id="timezone">Reset your watch countrys timezone is</h2>
                    <!---->
                    <div id="flag">
                        <img src="https://restcountries.eu/data/chn.svg" id="flagimage">
                    </div>
                </div>
                
            </section>

        <script>
            //ref: lesson 4.7
            if ('serviceWorker' in navigator) {
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
    </div>
</html>
