<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Postcard Your Future</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
    </head>

    <body>
        <div id="page-container">
        <main>
            <section class="landing">
                <div class="button">
                    <button class="start" onclick=Client.createInput()>Start</button>
                </div>
            </section>

            <section class="invisible" id="inputPage">
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <div class="to">
                        <input type="text" name="to" autocomplete="off" id="to" required />
                        <label for="to" class="label-name" >
                            <span class="content-name">To</span>
                        </label>
                    </div>
                    <div class="date">
                        <input type="date" id="Departure" required />
                        <label for="Departure" class="label-name" >
                            <span class="Date-name">Out</span>
                        </label>
                    </div>
                    <div>
                        <div id="quote">
                            <p><em>"To see the world, things dangerous to come, to see behind walls, draw closer, 
                            to find each other, and to feel. That is the purpose of life."</em></p>
                        </div>
                    <input id="create" class="button" type="submit" name="" value="Create" onclick="return Client.handleSubmit(event)" onsubmit="return handleSubmit(event)">
                    </div> 
                </form>                
            </section>
            <section class="invisible2" id="results">
                <em>Postcard:</em>

                <div class="photo">
                    <img src="" alt="location image" id="image">
                </div>
                <div class="weatherIcon">
                    <img src="" alt="weather" id="weather">
                </div>
                <div id="travel-info">
                    <!--Updated-->
                    <h2 id="currentDate">Get ready, you'll be here in X days!</h2>
                    <h2 id="location">City, Country</h2>
                    <h2 id="temp">Currently feels like Temp</h2>
                    <h2 id="weather-description"></h2>
                    <h2 id="language">Brush up on your Language</h2>
                    <h2 id="currency">Make sure to bring your Currency</h2>
                    <div id="flag">
                        <img src="" id="flagimage">
                    </div>
                    </div class="button">
                        <button id="reset" onclick=Client.reset()>Reset</button>
                    </div>
                </div>
                
            </section>

        <script>
            //ref: lesson 4.7
            if ('serviceWorker' in navigator) {
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
    </div>
</html>
