form {
    border: 1px solid #bdbdbd;
    background-color: rgb(199, 198, 195);
    border-radius: 10px;
    padding: 20px;
}

input {
    padding: 5px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px;
}

#results {
    border: 1px solid #c4c2c2;
    background-color: rgb(206, 203, 197);
    border-radius: 10px;
    padding: 20px;
}

.attribution {
    text-align: center;
}